@model Exceed.Web.Host.ViewModels.Excced.HomePageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ViewBag.AppInfo.Name;
    ViewBag.Desc = ViewBag.AppInfo.Desc;
}
@section styles {
    <style>
        .ImgCircleNavs {
            width: 100%;
            height: auto;
            margin-top: 10px;
        }
    </style>
}
@section scripts {
    <script>
        $(function () {
            $('.pet_nav_gengduo').on('click', function () {
                $('.am-menu-toggle').click();
            });
        });

    </script>
}

@await Html.PartialAsync("~/Views/Shared/gotop.cshtml")
@await Html.PartialAsync("~/Views/Shared/header.cshtml", (object)ViewBag.AppInfo.Name)
@*顶部滚动图片开始*@
<div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{"directionNav":false}'>
    <ul class="am-slides">
        @foreach (var slider in Model.SliderImgs)
        {
            <li>
                <a href="@slider.LinkUrl" class="">
                    <img src="@(Model.ImgHost + slider.ImgUrl)">
                </a>
            </li>
        }
    </ul>
</div>
@*顶部滚动图片结束*@
<div class="pet_content_main">
    @*导航菜单开始*@
    <ul class="pet_circle_nav_list">
        @foreach (var nav in Model.PetCircleNavs)
        {
            <li><a href="@nav.LinkUrl" class="iconfont @nav.ClassStyle ">@Html.Raw(nav.Icon)</a><span>@nav.Title</span></li>
        }
        <li><a href="javascript:;" class="iconfont pet_nav_gengduo ">&#xe600;</a><span>更多</span></li>
    </ul>
    @*导航菜单结束*@
    @*图片展示+导航菜单开始*@
    <div class="am-g">
        <div class="am-u-sm-6">
            @if (Model.ImgCircleNavs[0] != null)
            {
                <a href="@Model.ImgCircleNavs[0].LinkUrl"> <img src="@Model.ImgCircleNavs[0].Icon" class="ImgCircleNavs" /></a>
            }
            @if (Model.ImgCircleNavs[1] != null)
            {
                <a href="@Model.ImgCircleNavs[1].LinkUrl"> <img src="@Model.ImgCircleNavs[1].Icon" class="ImgCircleNavs" /></a>
            }
        </div>
        <div class="am-u-sm-6">
            @if (Model.ImgCircleNavs[2] != null)
            {
                <a href="@Model.ImgCircleNavs[2].LinkUrl"> <img src="@Model.ImgCircleNavs[2].Icon" class="ImgCircleNavs" /></a>
            }
        </div>
        <div class="am-u-sm-12">
            @if (Model.ImgCircleNavs[3] != null)
            {
                <a href="@Model.ImgCircleNavs[3].LinkUrl"> <img src="@Model.ImgCircleNavs[3].Icon" class="ImgCircleNavs" /></a>
            }
        </div>
    </div>
    @*图片展示+导航菜单结束*@

    <h1>@Model.Examples.Title</h1>
    <span>@Model.Examples.Desc</span>

    <div class="am-list-news-bd">
        @if (Model.Examples.Items[0] != null)
        {
            <ul data-am-widget="gallery" class="am-gallery am-avg-sm-1 am-gallery-overlay" data-am-gallery="{ pureview: true }">
                <li>
                    <div class="am-gallery-item">
                        <a href="@Model.Examples.Items[0].LinkUrl" class="">
                            <img src="@Model.Examples.Items[0].Icon" alt="@Model.Examples.Items[0].Title" />
                            <h3 class="am-gallery-title">@Model.Examples.Items[0].Title</h3>
                            <div class="am-gallery-desc">@Model.Examples.Items[0].Desc</div>
                        </a>
                    </div>
                </li>
            </ul>
        }
        <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-gallery-default" data-am-gallery="{ pureview: true }">
            @for (int i = 1; i < Model.Examples.Items.Count; i++)
            {
                <li>
                    <div class="am-gallery-item">
                        <a href="@Model.Examples.Items[i].LinkUrl" class="">
                            <img src="@Model.Examples.Items[i].Icon" alt="@Model.Examples.Items[i].Title" />
                            <h3 class="am-gallery-title">@Model.Examples.Items[i].Title</h3>
                            <div class="am-gallery-desc">@Model.Examples.Items[i].Desc</div>
                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>


    @foreach (var activitie in Model.Activities)
    {
        <h1>@activitie.Title</h1>
        <span>@activitie.Desc</span>

        <div data-am-widget="list_news" class="am-list-news am-list-news-default">
            <div class="am-list-news-bd">
                <ul class="am-list">
                    @foreach (var item in activitie.Items)
                    {
                        <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right pet_list_one_block">
                            <div class=" am-u-sm-8 am-list-main pet_list_one_nr">
                                <h3 class="am-list-item-hd pet_list_one_bt"><a href="@item.LinkUrl" class="">@item.Title</a></h3>
                                <div class="am-list-item-text pet_list_one_text">@item.Desc</div>
                            </div>
                            <div class="am-u-sm-4 am-list-thumb">
                                <a href="@item.LinkUrl" class="">
                                    <img src="@item.Icon" class="pet_list_one_img" alt="@item.Title" />
                                </a>
                            </div>
                        </li>
                    }
                </ul>
            </div>

        </div>
    }
</div>



